<%- include('header') %>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Felhasználó név</th>
        <th scope="col">Vezetéknév</th>
        <th scope="col">Keresztnév</th>
        <th scope="col">E-mail</th>
        <th scope="col">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <% users.forEach( item => { %>
        <tr>
            <td><%= item.usr_username %></td>
            <td><%= item.usr_vezeteknev %></td>
            <td><%= item.usr_keresztnev %></td>
            <td><%= item.usr_emailadress %></td>
            <td>
                <a href="/twitters/<%= item.usr_id %>" class="btn btn-primary btn-sm">Üzenetek</a>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>

<%- include('footer') %>